" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
" -- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t

" Basics
let mapleader=" "
set clipboard+=unnamed
set number relativenumber
set scrolloff=5
set sidescrolloff=5
set ideajoin
nmap U <C-R>
nmap Y y$
nmap <leader><TAB> :b#<CR>
map * *zz
map # #zz
map <leader>; <Action>(CommentByLineComment)
map <leader>/ <Action>(FindInPath)
nmap + <Action>(StretchSplitToRight)
nmap - <Action>(StretchSplitToLeft)
"map <leader>* <Action>(CommentByLineComment)

" Menus navigation
inoremap <C-j> <C-n>
inoremap <C-k> <C-p>

"IdeaVim-Sneak
set sneak

" Unmaps
noremap <up> <nop>
noremap <down> <nop>
noremap <left> <nop>
noremap <right> <nop>
noremap <C-u> <nop>
noremap <C-d> <nop>
noremap <C-f> <nop>
noremap <C-t> <nop>
inoremap <C-h> <nop>
noremap <C-e> <nop>

" Ctrl movements
noremap <C-j> Lzz
noremap <C-k> Hzz
noremap <C-h> ^
noremap <C-l> $

" Motions
map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)


" Easymotion
set easymotion
" unbind defaults
map <leader><leader>f <nop>
map <leader><leader>F <nop>
map <leader><leader>t <nop>
map <leader><leader>T <nop>
map <leader><leader>w <nop>
map <leader><leader>W <nop>
map <leader><leader>b <nop>
map <leader><leader>B <nop>
map <leader><leader>e <nop>
map <leader><leader>E <nop>
map <leader><leader>ge <nop>
map <leader><leader>gE <nop>
map <leader><leader>j <nop>
map <leader><leader>k <nop>
map <leader><leader>n <nop>
map <leader><leader>N <nop>
map <leader><leader>s <nop>

" Actions, prefix = leader a
map <leader>ar <Action>(RenameElement)
map <leader>ae <Action>(EditorSelectWord)
map <leader>af <Action>(ReformatCode)

" Bookmarks, prefix = leader m
map <leader>mm <Action>(ToggleBookmark)
map <leader>mn <Action>(ToggleBookmarkWithMnemonic)
map <leader>ml <Action>(ShowBookmarks)

" Buffers, prefix = leader b
map <leader>bk <Action>(CloseEditor)
map <leader>bb <Action>(Switcher)

" Compiler, prefix = leader c
map <leader>cc <Action>(Cargo.RunCargoCommand)
"map <leader>ce <Action>()
map <leader>cr <Action>(ActivateRunToolWindow)
map <leader>cb <Action>(ActivateBuildToolWindow)
"map <leader>cT <Action>()

" Debugger, prefix = leader d
map <leader>dc <Action>(Resume)
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dd <Action>(Debug)
map <leader>de <Action>(EvaluateExpression)
map <leader>di <Action>(StepInto)
map <leader>do <Action>(StepOut)
map <leader>dr <Action>(Run)
map <leader>dR <Action>(Rerun)
map <leader>ds <Action>(StepOver)
map <leader>dS <Action>(Stop)

" Errors, prefix = leader e
map <leader>en <Action>(GotoNextError)
map <leader>ep <Action>(GotoPreviousError)
map <leader>el <Action>(ActivateProblemsViewToolWindow)

" Files, prefix = leader f
map <leader>fs <Action>(SaveAll)
map <leader>ff <Action>(GotoFile)

" Folding, prefix = leader z
map <leader>za <Action>(CollapseAllRegions)
map <leader>zs <Action>(CollapseSelection)
map <leader>zz <Action>(ExpandCollapseToggleAction)

" Git, prefix = leader g
map <leader>gg <Action>(VcsGroups)
map <leader>gu <Action>(Git.Pull)
map <leader>gb <Action>(Git.Branches)
map <leader>gc <Action>(CheckinProject)
map <leader>gp <Action>(Vcs.Push)
map <leader>gs <Action>(ActivateCommitToolWindow)
map <leader>gv <Action>(Vcs.QuickListPopupAction)


" Jumps, prefix = leader j
map <leader>jc <Action>(VcsShowNextChangeMarker)
map <leader>jC <Action>(VcsShowPrevChangeMarker)

map <leader>jj <Plug>(easymotion-f)
map <leader>jk <Plug>(easymotion-F)

" Kill, prefix = leader k
"map <leader>kk <Action>(CloseEditor)
map <leader>kk <Action>(CloseContent)


" Open, prefix = leader o
map <leader>ot <Action>(ActivateTerminalToolWindow)
map <leader>op <Action>(ActivateProjectToolWindow)
map <leader>os <Action>(ActivateStructureToolWindow)

" Project, prefix = leader p
map <leader>pi <Action>(InvalidateCaches)

" Toggle, prefix = leader t
map <leader>tz <Action>(ToggleDistractionFreeMode)

" Search
set incsearch
set hlsearch
set ignorecase
nnoremap <Esc> :nohlsearch<CR>
set smartcase

" Windows, prefix = w
map <leader>w/ <Action>(SplitVertically)
map <leader>w_ <Action>(SplitHorizontally)
map <leader>wm <Action>(MaximizeEditorInSplit)
map <leader>ww <Action>(StretchSplitToRight)
map <leader>we <Action>(StretchSplitToLeft)

map <leader>wj <C-w>j
map <leader>wk <C-w>k
map <leader>wh <C-w>h
map <leader>wl <C-w>l

map <leader>wd <Action>(HideAllWindows)
map <leader>wD <Action>(HideActiveWindow)



" Highlight copied text
Plug 'machakann/vim-highlightedyank'

